.Header {
    height: 5rem;
    display: flex;
}

h1, h1 a {    
    color: #3C5186;
  
    text-decoration-color:  #9B72AA;;
    text-decoration-style:dotted;
  

    font-family: 'Comfortaa', cursive;
    text-align: center;
    margin: 4rem auto 3rem auto;
    font-size: 5rem;

}


h2 {
    color: #3C5186;
    text-align: center;
    font-family: 'Arima Madurai', cursive;
    padding-bottom: 2rem;
}