.headerdiv {
    height: 100px;
    font-family: 'Comfortaa', cursive;
    background-color:  #C6B4CE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5%;
}

.justheader {
    height: 100px;
    padding-left: 2%;
    display: flex;
    justify-content: flex-start;
    align-self: center;
    }

    .headerlinks {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


    .headernavlinks {
        margin-right: 10px;
        text-decoration: none;
        color: #FFF5DE;
    }

    .headerdiv h1, h1 a {
        color: #FFF5DE;
        text-decoration: none;
        font-family: 'Comfortaa', cursive;
        height: 15px;
        width: 20px;
        margin: 0;
        display: flex;
        justify-content: flex-start;
    }