
.childrenlist {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10%;
    flex-wrap: wrap;
    
}

.buttonsection {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logoutsection {
    display: flex;
    flex-direction: row;
    align-self: flex-end;
}

.childlink {
    text-decoration: none;
    color: #3C5186
}

.childlink:hover {
    color: #9B72AA;
}
.baby {
    height: 50px;
    width: 50px;
    padding-bottom: 15px;
}

span {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linknoline {
    text-decoration: none;
}

footer {
    position:absolute;
    bottom:0;
    width:100%;
    height:60px; 
    display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  
  }

  @media screen and (max-width: 640px) {
      .childrenlist {
          display: flex;
          flex-wrap: wrap;
      }
  }

